{% extends 'store/main.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block content%}
<style>
    body{
    background-color:#dcdcdc;
    }
    #hint_id_username, #hint_id_password1 ,#hint_id_password2 {
         display: none;
     }
     body > main > form > ul > li{
      display: none;
    }
</style>

        <div class="row justify-content-center">
            <div class="col-md-5">
                <a href="{% url 'store' %}" class="btn btn-outline-dark my-3">Home</a>
                <div class="card">
                  <div class="card"  style="box-shadow: 3px 3px 3px dimgray;">
                        <form method="POST" class="m-5" style="display: flex; flex-direction: column;"  >
                              {% csrf_token %}
                             {{ form }}

                              <input class="btn btn-outline-success m-2" type="submit" value="Register">
                          </form>
                           <p class="m-2">Already have an account? <a class="btn btn-outline-secondary m-1" href="{% url 'login' %}">Login</a></p>
                    </div>

                </div>
            </div>
        </div>
{% endblock content%}
